@import url("topicCommon.css");
.centent {width: 1200px;margin:auto;padding: 25px 0 0 80px;overflow: hidden;}
.jxcp {width: 1200px; margin-top: auto; overflow: hidden}
.jxcp p{font-family: "宋体";font-size: 30px;font-weight: bold;color:#dc143c;line-height: 45px;position: relative;}
.jxcp p i{width: 28px; height: 28px;display: block;background: url(../img/jxms.png) no-repeat scroll left center;float: left;padding: 15px 12px 0 0 ;}
.neirong {margin: auto; display: block;margin-top: 18px;overflow: hidden;width: 1200px;}
.neirong ul li {float: left;margin: 0 0px 31px 0;width: 600px;}
.imgs{width: 230px;height: 230px;float: left;}
.imgs a img {width: 230px;height: 230px;}
.wenzi {display: block;margin-left: 205px;width: 300px;padding: 0px 43px;}
.wenzi h3 {font-size: 24px;font-weight: normal;padding: 0px 0px 0px 70px;}
.wenzi p {font-family: "宋体";font-size: 12px;color:#000;margin-top: 10px;font-weight: normal;line-height: 28px;padding: 0px 0px 15px 0;}
.wenzi span {font-size: 14px}
.wenzi span i {font-family: "宋体";font-size: 14px;letter-spacing:5px;color: #dc143c;padding: 0px 0px 0px 10px;font-style: normal}
.gengduo {margin: auto;background: #ecebeb;display: block;overflow: hidden;width: 1200px;height: 36px;}
.gengduo span{color: #dc143c;font-size: 20px;text-align: center;display: block;padding: 4px 0 0 0 ;}

.weixin_dialog{display: none;position: fixed;top: 50px;left: -500px;width: 240px;background: #fff;padding: 10px;border: solid 1px #d8d8d8;z-index: 11001;font-size: 12px;box-sizing: border-box;}
.weixin_dialog_tit{font-size: 12px;font-weight: bold;text-align: left;line-height: 16px;height: 16px;position: relative;color: #000;}
.weixin_dialog_tit a{width: 16px;height: 16px;position: absolute;right: 0;top: 0;color: #999;text-decoration: none;font-size: 16px;}
.erweima_dialog{text-align: center;padding: 15px 10px 0;min-height: 150px;}
.dialog_share_to{font-size: 12px;text-align: left;line-height: 22px;color: #666;}
.xiantiao {width: 80%;height: 1px;border-bottom: 1px solid #ecebeb;position: absolute;top: 21px;margin-left: 30px;}